.trabajos{
    display: flex;
    flex-wrap: wrap; 
    /* sirve para que se redistribuyan segun se va achicando la pantalla */
    flex-direction: row; 
    /* row le indica que los elementos se tienen que alienear de forma horizontal */
    justify-content: space-around; 
    /* acomoda los elementos segun el espacio que hay entre ellos*/
    padding-bottom: 15px;
} 

.trabajos img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    
}


