.container{
    display: flex;
    flex-direction: column;
    height: 350px;
    margin-top: 50px;
    background-image: url("../../assets/gris.jpg");
    background-position:left;
    background-size: cover;
    align-items: center;
    
    
}

.background{
    background-color: rgba(125, 133, 143, 0.658);
    width: 100%;
    height: 100%;
}

.titulo{
    font-family:'HACKED';
    color: rgb(10, 10, 10);
    
   /*HACKEDE,xcludedItalic, Roboto, Open Sans, Monserrat, Lato; Raleway, Oswald, Archivo Narrow */
}


.parrafo{
    margin-top: 30px;
    text-align: center;
    color:black;
    
    font-family:excludeditalic;
}
