.container-div{
    height: 100px;
}

.navbar{
    padding: 10x;
    /* background-color: #15dde4; */
    
}

.navbar-collapse{
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

