.container{
  padding: 50px;
  text-align: center;
  color: #fcfafa;
  background-color: #000000;
}

.container p{
  color: white;
}

.container a{
  color: white;
  text-decoration: none;
  
}
  
.footerBottom {
    text-align: center;
    color: white;
    height: 50px;
    padding-top: 10px;
    border-top: 2px solid #fcfafa;
    /* margin-top: 20px; */
    background-color: #15dde4;
  }

  .decoration{
    list-style-type: none;
  }

  .decoration a{
    color: white;
    
    /* text-decoration: none; */
  }

  .decoration li{
    margin-bottom: 15px;
  }

  .icon{
    color: #15dde4;
  }