.container{
  background-color: #5296da;
}

.footer {
    padding: 30px 0;
  }
  
  .footerBottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #fcfafa;
    margin-top: 20px;
  }

  .decoration{
    list-style-type: none;
  }