/* En tu archivo de estilos CSS (contacto.css) */
.mainContainer {
  width: 100%;
  height: 90vh;
  background-image: url('../../assets/fondoContacto.webp');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.contactContainer {
    width: 900px;
    height: 500px;
    background-size: cover;
}

.titleContainer{
  width: 39%;
  height: 98%;
  background-color: #15dde4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-weight: 200;
  border-radius: 10px 0 0 10px;
  font-size: 24px;
  padding: 20px;
}
  
  .contactForm {
    width: 100%;
    background-color: gray;
    opacity: 0.95;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 10px 10px 0;
  }
  
  .formGroup {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-left: 20px;
  }

  .contactContainer{
    display: flex;
    align-items: center;
  }

  .contactBtn {
    background-color: #15dde4;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    margin: auto;
  }

  .textArea{
    border-radius: 5px;
    border: none;
    width: 70%;
    height: 40px;
    margin: 10px 0;
    padding-left: 20px;
  }
    
  .inputArea{
    height: 130px; /* Ajusta la altura según sea necesario */
    width:70%;
    resize: vertical; /* Permite redimensionar verticalmente */
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
  }

  .btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
 
  


  