/* En tu archivo de estilos CSS (contacto.css) */
.contacto-container {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  
  .contacto-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .contacto-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  .text-area{
    margin-left: 15px;
  }
    
  .input-area{
    width: 190px;
    height: 150px;
    margin-left: 15px;
  }
  
  .wsp-icon {
    margin-left: 8px;
    margin-right: 8px;
  }
  


  